# coding: utf-8

"""
    The Jira Cloud platform REST API

    Jira Cloud platform REST API documentation  # noqa: E501

    OpenAPI spec version: 1001.0.0-SNAPSHOT-0daa9a9e2722e510da52cb72ee41a43128c97f42
    Contact: ecosystem@atlassian.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from jira_client.api_client import ApiClient


class AppMigrationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def app_issue_field_value_update_resource_update_issue_fields_put(self, body, atlassian_transfer_id, **kwargs):  # noqa: E501
        """Bulk update custom field value  # noqa: E501

        Updates the value of a custom field added by Connect apps on one or more issues. The values of up to 200 custom fields can be updated.  **[Permissions](#permissions) required:** Only Connect apps can make this request  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.app_issue_field_value_update_resource_update_issue_fields_put(body, atlassian_transfer_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConnectCustomFieldValues body: (required)
        :param str atlassian_transfer_id: The ID of the transfer. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.app_issue_field_value_update_resource_update_issue_fields_put_with_http_info(body, atlassian_transfer_id, **kwargs)  # noqa: E501
        else:
            (data) = self.app_issue_field_value_update_resource_update_issue_fields_put_with_http_info(body, atlassian_transfer_id, **kwargs)  # noqa: E501
            return data

    def app_issue_field_value_update_resource_update_issue_fields_put_with_http_info(self, body, atlassian_transfer_id, **kwargs):  # noqa: E501
        """Bulk update custom field value  # noqa: E501

        Updates the value of a custom field added by Connect apps on one or more issues. The values of up to 200 custom fields can be updated.  **[Permissions](#permissions) required:** Only Connect apps can make this request  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.app_issue_field_value_update_resource_update_issue_fields_put_with_http_info(body, atlassian_transfer_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConnectCustomFieldValues body: (required)
        :param str atlassian_transfer_id: The ID of the transfer. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'atlassian_transfer_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method app_issue_field_value_update_resource_update_issue_fields_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `app_issue_field_value_update_resource_update_issue_fields_put`")  # noqa: E501
        # verify the required parameter 'atlassian_transfer_id' is set
        if ('atlassian_transfer_id' not in params or
                params['atlassian_transfer_id'] is None):
            raise ValueError("Missing the required parameter `atlassian_transfer_id` when calling `app_issue_field_value_update_resource_update_issue_fields_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'atlassian_transfer_id' in params:
            header_params['Atlassian-Transfer-Id'] = params['atlassian_transfer_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/rest/atlassian-connect/1/migration/field', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def migration_resource_update_entity_properties_value_put(self, body, atlassian_transfer_id, entity_type, **kwargs):  # noqa: E501
        """Bulk update entity properties  # noqa: E501

        Updates the values of multiple entity properties for an object, up to 50 updates per request. This operation is for use by Connect apps during app migration.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.migration_resource_update_entity_properties_value_put(body, atlassian_transfer_id, entity_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[EntityPropertyDetails] body: (required)
        :param str atlassian_transfer_id: The app migration transfer ID. (required)
        :param str entity_type: The type indicating the object that contains the entity properties. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.migration_resource_update_entity_properties_value_put_with_http_info(body, atlassian_transfer_id, entity_type, **kwargs)  # noqa: E501
        else:
            (data) = self.migration_resource_update_entity_properties_value_put_with_http_info(body, atlassian_transfer_id, entity_type, **kwargs)  # noqa: E501
            return data

    def migration_resource_update_entity_properties_value_put_with_http_info(self, body, atlassian_transfer_id, entity_type, **kwargs):  # noqa: E501
        """Bulk update entity properties  # noqa: E501

        Updates the values of multiple entity properties for an object, up to 50 updates per request. This operation is for use by Connect apps during app migration.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.migration_resource_update_entity_properties_value_put_with_http_info(body, atlassian_transfer_id, entity_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[EntityPropertyDetails] body: (required)
        :param str atlassian_transfer_id: The app migration transfer ID. (required)
        :param str entity_type: The type indicating the object that contains the entity properties. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'atlassian_transfer_id', 'entity_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method migration_resource_update_entity_properties_value_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `migration_resource_update_entity_properties_value_put`")  # noqa: E501
        # verify the required parameter 'atlassian_transfer_id' is set
        if ('atlassian_transfer_id' not in params or
                params['atlassian_transfer_id'] is None):
            raise ValueError("Missing the required parameter `atlassian_transfer_id` when calling `migration_resource_update_entity_properties_value_put`")  # noqa: E501
        # verify the required parameter 'entity_type' is set
        if ('entity_type' not in params or
                params['entity_type'] is None):
            raise ValueError("Missing the required parameter `entity_type` when calling `migration_resource_update_entity_properties_value_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'entity_type' in params:
            path_params['entityType'] = params['entity_type']  # noqa: E501

        query_params = []

        header_params = {}
        if 'atlassian_transfer_id' in params:
            header_params['Atlassian-Transfer-Id'] = params['atlassian_transfer_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/rest/atlassian-connect/1/migration/properties/{entityType}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def migration_resource_workflow_rule_search_post(self, body, atlassian_transfer_id, **kwargs):  # noqa: E501
        """Get workflow transition rule configurations  # noqa: E501

        Returns configurations for workflow transition rules migrated from server to cloud and owned by the calling Connect app.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.migration_resource_workflow_rule_search_post(body, atlassian_transfer_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param WorkflowRulesSearch body: (required)
        :param str atlassian_transfer_id: The app migration transfer ID. (required)
        :return: WorkflowRulesSearchDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.migration_resource_workflow_rule_search_post_with_http_info(body, atlassian_transfer_id, **kwargs)  # noqa: E501
        else:
            (data) = self.migration_resource_workflow_rule_search_post_with_http_info(body, atlassian_transfer_id, **kwargs)  # noqa: E501
            return data

    def migration_resource_workflow_rule_search_post_with_http_info(self, body, atlassian_transfer_id, **kwargs):  # noqa: E501
        """Get workflow transition rule configurations  # noqa: E501

        Returns configurations for workflow transition rules migrated from server to cloud and owned by the calling Connect app.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.migration_resource_workflow_rule_search_post_with_http_info(body, atlassian_transfer_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param WorkflowRulesSearch body: (required)
        :param str atlassian_transfer_id: The app migration transfer ID. (required)
        :return: WorkflowRulesSearchDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'atlassian_transfer_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method migration_resource_workflow_rule_search_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `migration_resource_workflow_rule_search_post`")  # noqa: E501
        # verify the required parameter 'atlassian_transfer_id' is set
        if ('atlassian_transfer_id' not in params or
                params['atlassian_transfer_id'] is None):
            raise ValueError("Missing the required parameter `atlassian_transfer_id` when calling `migration_resource_workflow_rule_search_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'atlassian_transfer_id' in params:
            header_params['Atlassian-Transfer-Id'] = params['atlassian_transfer_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/rest/atlassian-connect/1/migration/workflow/rule/search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WorkflowRulesSearchDetails',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
