# coding: utf-8

"""
    The Jira Cloud platform REST API

    Jira Cloud platform REST API documentation  # noqa: E501

    OpenAPI spec version: 1001.0.0-SNAPSHOT-0daa9a9e2722e510da52cb72ee41a43128c97f42
    Contact: ecosystem@atlassian.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from jira_client.api_client import ApiClient


class IssueTypeScreenSchemesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def append_mappings_for_issue_type_screen_scheme(self, body, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Append mappings to issue type screen scheme  # noqa: E501

        Appends issue type to screen scheme mappings to an issue type screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.append_mappings_for_issue_type_screen_scheme(body, issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IssueTypeScreenSchemeMappingDetails body: (required)
        :param str issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.append_mappings_for_issue_type_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.append_mappings_for_issue_type_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, **kwargs)  # noqa: E501
            return data

    def append_mappings_for_issue_type_screen_scheme_with_http_info(self, body, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Append mappings to issue type screen scheme  # noqa: E501

        Appends issue type to screen scheme mappings to an issue type screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.append_mappings_for_issue_type_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IssueTypeScreenSchemeMappingDetails body: (required)
        :param str issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'issue_type_screen_scheme_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method append_mappings_for_issue_type_screen_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `append_mappings_for_issue_type_screen_scheme`")  # noqa: E501
        # verify the required parameter 'issue_type_screen_scheme_id' is set
        if ('issue_type_screen_scheme_id' not in params or
                params['issue_type_screen_scheme_id'] is None):
            raise ValueError("Missing the required parameter `issue_type_screen_scheme_id` when calling `append_mappings_for_issue_type_screen_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'issue_type_screen_scheme_id' in params:
            path_params['issueTypeScreenSchemeId'] = params['issue_type_screen_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme/{issueTypeScreenSchemeId}/mapping', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def assign_issue_type_screen_scheme_to_project(self, body, **kwargs):  # noqa: E501
        """Assign issue type screen scheme to project  # noqa: E501

        Assigns an issue type screen scheme to a project.  Issue type screen schemes can only be assigned to classic projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assign_issue_type_screen_scheme_to_project(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IssueTypeScreenSchemeProjectAssociation body: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.assign_issue_type_screen_scheme_to_project_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.assign_issue_type_screen_scheme_to_project_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def assign_issue_type_screen_scheme_to_project_with_http_info(self, body, **kwargs):  # noqa: E501
        """Assign issue type screen scheme to project  # noqa: E501

        Assigns an issue type screen scheme to a project.  Issue type screen schemes can only be assigned to classic projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.assign_issue_type_screen_scheme_to_project_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IssueTypeScreenSchemeProjectAssociation body: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method assign_issue_type_screen_scheme_to_project" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `assign_issue_type_screen_scheme_to_project`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme/project', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_issue_type_screen_scheme(self, body, **kwargs):  # noqa: E501
        """Create issue type screen scheme  # noqa: E501

        Creates an issue type screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_issue_type_screen_scheme(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IssueTypeScreenSchemeDetails body: An issue type screen scheme bean. (required)
        :return: IssueTypeScreenSchemeId
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_issue_type_screen_scheme_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_issue_type_screen_scheme_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_issue_type_screen_scheme_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create issue type screen scheme  # noqa: E501

        Creates an issue type screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_issue_type_screen_scheme_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IssueTypeScreenSchemeDetails body: An issue type screen scheme bean. (required)
        :return: IssueTypeScreenSchemeId
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_issue_type_screen_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_issue_type_screen_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IssueTypeScreenSchemeId',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_issue_type_screen_scheme(self, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Delete issue type screen scheme  # noqa: E501

        Deletes an issue type screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_issue_type_screen_scheme(issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_issue_type_screen_scheme_with_http_info(issue_type_screen_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_issue_type_screen_scheme_with_http_info(issue_type_screen_scheme_id, **kwargs)  # noqa: E501
            return data

    def delete_issue_type_screen_scheme_with_http_info(self, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Delete issue type screen scheme  # noqa: E501

        Deletes an issue type screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_issue_type_screen_scheme_with_http_info(issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['issue_type_screen_scheme_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_issue_type_screen_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'issue_type_screen_scheme_id' is set
        if ('issue_type_screen_scheme_id' not in params or
                params['issue_type_screen_scheme_id'] is None):
            raise ValueError("Missing the required parameter `issue_type_screen_scheme_id` when calling `delete_issue_type_screen_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'issue_type_screen_scheme_id' in params:
            path_params['issueTypeScreenSchemeId'] = params['issue_type_screen_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme/{issueTypeScreenSchemeId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_issue_type_screen_scheme_mappings(self, **kwargs):  # noqa: E501
        """Get issue type screen scheme items  # noqa: E501

        Returns a [paginated](#pagination) list of issue type screen scheme items.  Only issue type screen schemes used in classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_issue_type_screen_scheme_mappings(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int start_at: The index of the first item to return in a page of results (page offset).
        :param int max_results: The maximum number of items to return per page.
        :param list[int] issue_type_screen_scheme_id: The list of issue type screen scheme IDs. To include multiple issue type screen schemes, separate IDs with ampersand: `issueTypeScreenSchemeId=10000&issueTypeScreenSchemeId=10001`.
        :return: PageBeanIssueTypeScreenSchemeItem
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_issue_type_screen_scheme_mappings_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_issue_type_screen_scheme_mappings_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_issue_type_screen_scheme_mappings_with_http_info(self, **kwargs):  # noqa: E501
        """Get issue type screen scheme items  # noqa: E501

        Returns a [paginated](#pagination) list of issue type screen scheme items.  Only issue type screen schemes used in classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_issue_type_screen_scheme_mappings_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int start_at: The index of the first item to return in a page of results (page offset).
        :param int max_results: The maximum number of items to return per page.
        :param list[int] issue_type_screen_scheme_id: The list of issue type screen scheme IDs. To include multiple issue type screen schemes, separate IDs with ampersand: `issueTypeScreenSchemeId=10000&issueTypeScreenSchemeId=10001`.
        :return: PageBeanIssueTypeScreenSchemeItem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_at', 'max_results', 'issue_type_screen_scheme_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_issue_type_screen_scheme_mappings" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_at' in params:
            query_params.append(('startAt', params['start_at']))  # noqa: E501
        if 'max_results' in params:
            query_params.append(('maxResults', params['max_results']))  # noqa: E501
        if 'issue_type_screen_scheme_id' in params:
            query_params.append(('issueTypeScreenSchemeId', params['issue_type_screen_scheme_id']))  # noqa: E501
            collection_formats['issueTypeScreenSchemeId'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme/mapping', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PageBeanIssueTypeScreenSchemeItem',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_issue_type_screen_scheme_project_associations(self, project_id, **kwargs):  # noqa: E501
        """Get issue type screen schemes for projects  # noqa: E501

        Returns a [paginated](#pagination) list of issue type screen schemes and, for each issue type screen scheme, a list of the projects that use it.  Only issue type screen schemes used in classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_issue_type_screen_scheme_project_associations(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] project_id: The list of project IDs. To include multiple projects, separate IDs with ampersand: `projectId=10000&projectId=10001`. (required)
        :param int start_at: The index of the first item to return in a page of results (page offset).
        :param int max_results: The maximum number of items to return per page.
        :return: PageBeanIssueTypeScreenSchemesProjects
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_issue_type_screen_scheme_project_associations_with_http_info(project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_issue_type_screen_scheme_project_associations_with_http_info(project_id, **kwargs)  # noqa: E501
            return data

    def get_issue_type_screen_scheme_project_associations_with_http_info(self, project_id, **kwargs):  # noqa: E501
        """Get issue type screen schemes for projects  # noqa: E501

        Returns a [paginated](#pagination) list of issue type screen schemes and, for each issue type screen scheme, a list of the projects that use it.  Only issue type screen schemes used in classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_issue_type_screen_scheme_project_associations_with_http_info(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] project_id: The list of project IDs. To include multiple projects, separate IDs with ampersand: `projectId=10000&projectId=10001`. (required)
        :param int start_at: The index of the first item to return in a page of results (page offset).
        :param int max_results: The maximum number of items to return per page.
        :return: PageBeanIssueTypeScreenSchemesProjects
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'start_at', 'max_results']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_issue_type_screen_scheme_project_associations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_issue_type_screen_scheme_project_associations`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_at' in params:
            query_params.append(('startAt', params['start_at']))  # noqa: E501
        if 'max_results' in params:
            query_params.append(('maxResults', params['max_results']))  # noqa: E501
        if 'project_id' in params:
            query_params.append(('projectId', params['project_id']))  # noqa: E501
            collection_formats['projectId'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme/project', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PageBeanIssueTypeScreenSchemesProjects',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_issue_type_screen_schemes(self, **kwargs):  # noqa: E501
        """Get issue type screen schemes  # noqa: E501

        Returns a [paginated](#pagination) list of issue type screen schemes.  Only issue type screen schemes used in classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_issue_type_screen_schemes(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int start_at: The index of the first item to return in a page of results (page offset).
        :param int max_results: The maximum number of items to return per page.
        :param list[int] id: The list of issue type screen scheme IDs. To include multiple IDs, provide an ampersand-separated list. For example, `id=10000&id=10001`.
        :param str query_string: String used to perform a case-insensitive partial match with issue type screen scheme name.
        :param str order_by: [Order](#ordering) the results by a field:   *  `name` Sorts by issue type screen scheme name.  *  `id` Sorts by issue type screen scheme ID.
        :param str expand: Use [expand](#expansion) to include additional information in the response. This parameter accepts `projects` that, for each issue type screen schemes, returns information about the projects the issue type screen scheme is assigned to.
        :return: PageBeanIssueTypeScreenScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_issue_type_screen_schemes_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_issue_type_screen_schemes_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_issue_type_screen_schemes_with_http_info(self, **kwargs):  # noqa: E501
        """Get issue type screen schemes  # noqa: E501

        Returns a [paginated](#pagination) list of issue type screen schemes.  Only issue type screen schemes used in classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_issue_type_screen_schemes_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int start_at: The index of the first item to return in a page of results (page offset).
        :param int max_results: The maximum number of items to return per page.
        :param list[int] id: The list of issue type screen scheme IDs. To include multiple IDs, provide an ampersand-separated list. For example, `id=10000&id=10001`.
        :param str query_string: String used to perform a case-insensitive partial match with issue type screen scheme name.
        :param str order_by: [Order](#ordering) the results by a field:   *  `name` Sorts by issue type screen scheme name.  *  `id` Sorts by issue type screen scheme ID.
        :param str expand: Use [expand](#expansion) to include additional information in the response. This parameter accepts `projects` that, for each issue type screen schemes, returns information about the projects the issue type screen scheme is assigned to.
        :return: PageBeanIssueTypeScreenScheme
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_at', 'max_results', 'id', 'query_string', 'order_by', 'expand']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_issue_type_screen_schemes" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_at' in params:
            query_params.append(('startAt', params['start_at']))  # noqa: E501
        if 'max_results' in params:
            query_params.append(('maxResults', params['max_results']))  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
            collection_formats['id'] = 'multi'  # noqa: E501
        if 'query_string' in params:
            query_params.append(('queryString', params['query_string']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'expand' in params:
            query_params.append(('expand', params['expand']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PageBeanIssueTypeScreenScheme',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_projects_for_issue_type_screen_scheme(self, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Get issue type screen scheme projects  # noqa: E501

        Returns a [paginated](#pagination) list of projects associated with an issue type screen scheme.  Only company-managed projects associated with an issue type screen scheme are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_projects_for_issue_type_screen_scheme(issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :param int start_at: The index of the first item to return in a page of results (page offset).
        :param int max_results: The maximum number of items to return per page.
        :param str query:
        :return: PageBeanProjectDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_projects_for_issue_type_screen_scheme_with_http_info(issue_type_screen_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_projects_for_issue_type_screen_scheme_with_http_info(issue_type_screen_scheme_id, **kwargs)  # noqa: E501
            return data

    def get_projects_for_issue_type_screen_scheme_with_http_info(self, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Get issue type screen scheme projects  # noqa: E501

        Returns a [paginated](#pagination) list of projects associated with an issue type screen scheme.  Only company-managed projects associated with an issue type screen scheme are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_projects_for_issue_type_screen_scheme_with_http_info(issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :param int start_at: The index of the first item to return in a page of results (page offset).
        :param int max_results: The maximum number of items to return per page.
        :param str query:
        :return: PageBeanProjectDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['issue_type_screen_scheme_id', 'start_at', 'max_results', 'query']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_projects_for_issue_type_screen_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'issue_type_screen_scheme_id' is set
        if ('issue_type_screen_scheme_id' not in params or
                params['issue_type_screen_scheme_id'] is None):
            raise ValueError("Missing the required parameter `issue_type_screen_scheme_id` when calling `get_projects_for_issue_type_screen_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'issue_type_screen_scheme_id' in params:
            path_params['issueTypeScreenSchemeId'] = params['issue_type_screen_scheme_id']  # noqa: E501

        query_params = []
        if 'start_at' in params:
            query_params.append(('startAt', params['start_at']))  # noqa: E501
        if 'max_results' in params:
            query_params.append(('maxResults', params['max_results']))  # noqa: E501
        if 'query' in params:
            query_params.append(('query', params['query']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme/{issueTypeScreenSchemeId}/project', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PageBeanProjectDetails',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def remove_mappings_from_issue_type_screen_scheme(self, body, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Remove mappings from issue type screen scheme  # noqa: E501

        Removes issue type to screen scheme mappings from an issue type screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_mappings_from_issue_type_screen_scheme(body, issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IssueTypeIds body: (required)
        :param str issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.remove_mappings_from_issue_type_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.remove_mappings_from_issue_type_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, **kwargs)  # noqa: E501
            return data

    def remove_mappings_from_issue_type_screen_scheme_with_http_info(self, body, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Remove mappings from issue type screen scheme  # noqa: E501

        Removes issue type to screen scheme mappings from an issue type screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_mappings_from_issue_type_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IssueTypeIds body: (required)
        :param str issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'issue_type_screen_scheme_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_mappings_from_issue_type_screen_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `remove_mappings_from_issue_type_screen_scheme`")  # noqa: E501
        # verify the required parameter 'issue_type_screen_scheme_id' is set
        if ('issue_type_screen_scheme_id' not in params or
                params['issue_type_screen_scheme_id'] is None):
            raise ValueError("Missing the required parameter `issue_type_screen_scheme_id` when calling `remove_mappings_from_issue_type_screen_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'issue_type_screen_scheme_id' in params:
            path_params['issueTypeScreenSchemeId'] = params['issue_type_screen_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme/{issueTypeScreenSchemeId}/mapping/remove', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_default_screen_scheme(self, body, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Update issue type screen scheme default screen scheme  # noqa: E501

        Updates the default screen scheme of an issue type screen scheme. The default screen scheme is used for all unmapped issue types.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_default_screen_scheme(body, issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateDefaultScreenScheme body: (required)
        :param str issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_default_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_default_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, **kwargs)  # noqa: E501
            return data

    def update_default_screen_scheme_with_http_info(self, body, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Update issue type screen scheme default screen scheme  # noqa: E501

        Updates the default screen scheme of an issue type screen scheme. The default screen scheme is used for all unmapped issue types.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_default_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateDefaultScreenScheme body: (required)
        :param str issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'issue_type_screen_scheme_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_default_screen_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_default_screen_scheme`")  # noqa: E501
        # verify the required parameter 'issue_type_screen_scheme_id' is set
        if ('issue_type_screen_scheme_id' not in params or
                params['issue_type_screen_scheme_id'] is None):
            raise ValueError("Missing the required parameter `issue_type_screen_scheme_id` when calling `update_default_screen_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'issue_type_screen_scheme_id' in params:
            path_params['issueTypeScreenSchemeId'] = params['issue_type_screen_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme/{issueTypeScreenSchemeId}/mapping/default', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_issue_type_screen_scheme(self, body, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Update issue type screen scheme  # noqa: E501

        Updates an issue type screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_issue_type_screen_scheme(body, issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IssueTypeScreenSchemeUpdateDetails body: The issue type screen scheme update details. (required)
        :param str issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_issue_type_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_issue_type_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, **kwargs)  # noqa: E501
            return data

    def update_issue_type_screen_scheme_with_http_info(self, body, issue_type_screen_scheme_id, **kwargs):  # noqa: E501
        """Update issue type screen scheme  # noqa: E501

        Updates an issue type screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_issue_type_screen_scheme_with_http_info(body, issue_type_screen_scheme_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IssueTypeScreenSchemeUpdateDetails body: The issue type screen scheme update details. (required)
        :param str issue_type_screen_scheme_id: The ID of the issue type screen scheme. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'issue_type_screen_scheme_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_issue_type_screen_scheme" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_issue_type_screen_scheme`")  # noqa: E501
        # verify the required parameter 'issue_type_screen_scheme_id' is set
        if ('issue_type_screen_scheme_id' not in params or
                params['issue_type_screen_scheme_id'] is None):
            raise ValueError("Missing the required parameter `issue_type_screen_scheme_id` when calling `update_issue_type_screen_scheme`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'issue_type_screen_scheme_id' in params:
            path_params['issueTypeScreenSchemeId'] = params['issue_type_screen_scheme_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/issuetypescreenscheme/{issueTypeScreenSchemeId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
