# coding: utf-8

"""
    The Jira Cloud platform REST API

    Jira Cloud platform REST API documentation  # noqa: E501

    OpenAPI spec version: 1001.0.0-SNAPSHOT-0daa9a9e2722e510da52cb72ee41a43128c97f42
    Contact: ecosystem@atlassian.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ScreenTabFieldsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_screen_tab_field(self, body, screen_id, tab_id, **kwargs):  # noqa: E501
        """Add screen tab field  # noqa: E501

        Adds a field to a screen tab.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_screen_tab_field(body, screen_id, tab_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AddFieldBean body: (required)
        :param int screen_id: The ID of the screen. (required)
        :param int tab_id: The ID of the screen tab. (required)
        :return: ScreenableField
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_screen_tab_field_with_http_info(body, screen_id, tab_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_screen_tab_field_with_http_info(body, screen_id, tab_id, **kwargs)  # noqa: E501
            return data

    def add_screen_tab_field_with_http_info(self, body, screen_id, tab_id, **kwargs):  # noqa: E501
        """Add screen tab field  # noqa: E501

        Adds a field to a screen tab.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_screen_tab_field_with_http_info(body, screen_id, tab_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AddFieldBean body: (required)
        :param int screen_id: The ID of the screen. (required)
        :param int tab_id: The ID of the screen tab. (required)
        :return: ScreenableField
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'screen_id', 'tab_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_screen_tab_field" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_screen_tab_field`")  # noqa: E501
        # verify the required parameter 'screen_id' is set
        if ('screen_id' not in params or
                params['screen_id'] is None):
            raise ValueError("Missing the required parameter `screen_id` when calling `add_screen_tab_field`")  # noqa: E501
        # verify the required parameter 'tab_id' is set
        if ('tab_id' not in params or
                params['tab_id'] is None):
            raise ValueError("Missing the required parameter `tab_id` when calling `add_screen_tab_field`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'screen_id' in params:
            path_params['screenId'] = params['screen_id']  # noqa: E501
        if 'tab_id' in params:
            path_params['tabId'] = params['tab_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/screens/{screenId}/tabs/{tabId}/fields', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ScreenableField',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_all_screen_tab_fields(self, screen_id, tab_id, **kwargs):  # noqa: E501
        """Get all screen tab fields  # noqa: E501

        Returns all fields for a screen tab.  **[Permissions](#permissions) required:**   *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  *  *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) when the project key is specified, providing that the screen is associated with the project through a Screen Scheme and Issue Type Screen Scheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_screen_tab_fields(screen_id, tab_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int screen_id: The ID of the screen. (required)
        :param int tab_id: The ID of the screen tab. (required)
        :param str project_key: The key of the project.
        :return: list[ScreenableField]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_screen_tab_fields_with_http_info(screen_id, tab_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_all_screen_tab_fields_with_http_info(screen_id, tab_id, **kwargs)  # noqa: E501
            return data

    def get_all_screen_tab_fields_with_http_info(self, screen_id, tab_id, **kwargs):  # noqa: E501
        """Get all screen tab fields  # noqa: E501

        Returns all fields for a screen tab.  **[Permissions](#permissions) required:**   *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  *  *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) when the project key is specified, providing that the screen is associated with the project through a Screen Scheme and Issue Type Screen Scheme.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_screen_tab_fields_with_http_info(screen_id, tab_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int screen_id: The ID of the screen. (required)
        :param int tab_id: The ID of the screen tab. (required)
        :param str project_key: The key of the project.
        :return: list[ScreenableField]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['screen_id', 'tab_id', 'project_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_screen_tab_fields" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'screen_id' is set
        if ('screen_id' not in params or
                params['screen_id'] is None):
            raise ValueError("Missing the required parameter `screen_id` when calling `get_all_screen_tab_fields`")  # noqa: E501
        # verify the required parameter 'tab_id' is set
        if ('tab_id' not in params or
                params['tab_id'] is None):
            raise ValueError("Missing the required parameter `tab_id` when calling `get_all_screen_tab_fields`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'screen_id' in params:
            path_params['screenId'] = params['screen_id']  # noqa: E501
        if 'tab_id' in params:
            path_params['tabId'] = params['tab_id']  # noqa: E501

        query_params = []
        if 'project_key' in params:
            query_params.append(('projectKey', params['project_key']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/screens/{screenId}/tabs/{tabId}/fields', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ScreenableField]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def move_screen_tab_field(self, body, screen_id, tab_id, id, **kwargs):  # noqa: E501
        """Move screen tab field  # noqa: E501

        Moves a screen tab field.  If `after` and `position` are provided in the request, `position` is ignored.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.move_screen_tab_field(body, screen_id, tab_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MoveFieldBean body: (required)
        :param int screen_id: The ID of the screen. (required)
        :param int tab_id: The ID of the screen tab. (required)
        :param str id: The ID of the field. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.move_screen_tab_field_with_http_info(body, screen_id, tab_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.move_screen_tab_field_with_http_info(body, screen_id, tab_id, id, **kwargs)  # noqa: E501
            return data

    def move_screen_tab_field_with_http_info(self, body, screen_id, tab_id, id, **kwargs):  # noqa: E501
        """Move screen tab field  # noqa: E501

        Moves a screen tab field.  If `after` and `position` are provided in the request, `position` is ignored.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.move_screen_tab_field_with_http_info(body, screen_id, tab_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MoveFieldBean body: (required)
        :param int screen_id: The ID of the screen. (required)
        :param int tab_id: The ID of the screen tab. (required)
        :param str id: The ID of the field. (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'screen_id', 'tab_id', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method move_screen_tab_field" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `move_screen_tab_field`")  # noqa: E501
        # verify the required parameter 'screen_id' is set
        if ('screen_id' not in params or
                params['screen_id'] is None):
            raise ValueError("Missing the required parameter `screen_id` when calling `move_screen_tab_field`")  # noqa: E501
        # verify the required parameter 'tab_id' is set
        if ('tab_id' not in params or
                params['tab_id'] is None):
            raise ValueError("Missing the required parameter `tab_id` when calling `move_screen_tab_field`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `move_screen_tab_field`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'screen_id' in params:
            path_params['screenId'] = params['screen_id']  # noqa: E501
        if 'tab_id' in params:
            path_params['tabId'] = params['tab_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/screens/{screenId}/tabs/{tabId}/fields/{id}/move', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def remove_screen_tab_field(self, screen_id, tab_id, id, **kwargs):  # noqa: E501
        """Remove screen tab field  # noqa: E501

        Removes a field from a screen tab.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_screen_tab_field(screen_id, tab_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int screen_id: The ID of the screen. (required)
        :param int tab_id: The ID of the screen tab. (required)
        :param str id: The ID of the field. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.remove_screen_tab_field_with_http_info(screen_id, tab_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.remove_screen_tab_field_with_http_info(screen_id, tab_id, id, **kwargs)  # noqa: E501
            return data

    def remove_screen_tab_field_with_http_info(self, screen_id, tab_id, id, **kwargs):  # noqa: E501
        """Remove screen tab field  # noqa: E501

        Removes a field from a screen tab.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_screen_tab_field_with_http_info(screen_id, tab_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int screen_id: The ID of the screen. (required)
        :param int tab_id: The ID of the screen tab. (required)
        :param str id: The ID of the field. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['screen_id', 'tab_id', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_screen_tab_field" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'screen_id' is set
        if ('screen_id' not in params or
                params['screen_id'] is None):
            raise ValueError("Missing the required parameter `screen_id` when calling `remove_screen_tab_field`")  # noqa: E501
        # verify the required parameter 'tab_id' is set
        if ('tab_id' not in params or
                params['tab_id'] is None):
            raise ValueError("Missing the required parameter `tab_id` when calling `remove_screen_tab_field`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `remove_screen_tab_field`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'screen_id' in params:
            path_params['screenId'] = params['screen_id']  # noqa: E501
        if 'tab_id' in params:
            path_params['tabId'] = params['tab_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['OAuth2', 'basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/rest/api/3/screens/{screenId}/tabs/{tabId}/fields/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
